@font-face {
    font-family: 'Prociono Regular';
    src: url('../fonts/Prociono-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Bagnard';
    src: url('../fonts/Bagnard.woff') format('woff');
}

:root {
    background-color: rgba(255, 211, 89);
    background-color: rgb(255, 231, 165);
    background-color: white;
    margin: 0px;
}

body {
    margin: 0px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top:18px;
    font-family: 'Bagnard';
    font-weight: 400;
    margin: 0px;
    letter-spacing: -8%;

}

h2, h3 {
    font-family: 'Ostrich Sans';
    font-weight: 900;
    margin: 0px;
}

p, li {
    font-family: 'Prociono Regular';
    margin: 0px;
}

a {
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.button {
    font-family: 'Prociono Regular';

    cursor:pointer;
    color:#141414; 
    background-color: rgb(175, 175, 175); 
    border-color: rgb(137, 137, 137); 
    border-style: none;
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-radius:3px; 
    border-width: 2px; 
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 5px;
    transition: .15s;
    text-align: center;

    &:hover {
        background-color: rgb(232, 232, 232);
        border-color: rgb(205, 205, 205); 
    }

    &:active {
        background-color: rgb(175, 175, 175); 
        border-color: rgb(137, 137, 137); 
    } 

}

.button--purple {
    color:rgb(255, 236, 236); 
    background-color: rgb(142, 59, 100); 
    border-color: rgb(94, 44, 44);
    
    &:hover {
        background-color: rgb(181, 86, 133);
        border-color: rgb(133, 77, 105); 
    }

    &:active {
        background-color: rgb(188, 127, 157);
        border-color: rgb(133, 77, 105); 
    } 
}

.button--cyan {
    color:rgb(236, 253, 255); 
    background-color: rgb(45, 112, 129); 
    border-color: rgb(44, 89, 94);
    
    &:hover {
        background-color: rgb(73, 157, 166);
        border-color: rgb(77, 128, 133);     
    }

    &:active {
        background-color: rgb(127, 185, 188);
        border-color: rgb(101, 168, 177); 
    } 
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*NIGHTMARE BEM YOU HAVE TO CLEAN THIS UP*/

.navigation {
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    background-color: rgb(30, 17, 1);
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 3px rgb(189, 180, 180))
}

.navigation__wrapper {
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
}

.navigation__wrapper--small-gap {
    gap: 10px;
}

.navigation__wrapper--filled-background {
    background-color: rgb(187, 184, 184);
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;

    border-radius: 10px;
}

.navigation__item {
    position: relative;
    font-size: 13px;
    transition: .2s;
    color: rgb(175, 175, 175);
    color: rgb(139, 136, 136);

    &:hover, &.active {
        color:white;
        color: rgb(63, 63, 63);
        cursor: pointer;
    }
}

.navigation__item--active {
    color: rgb(63, 63, 63);
    text-decoration: underline;
}

.navigation__item--icon {
    height: 20px;
}

.navigation__item--enlarged-icon {
    height: 35px;
}

.navigation__item--icon-hover {
    position: absolute; 
    top:0px; 
    left:0;
    filter: opacity(.0); 
    transition:.2s; 
    &:hover {
        filter: opacity(1);
    };
}

.navigation__item--logo {
    white-space: pre-line;
    text-align: left;
    line-height: 80%;
    font-size: 25px;
    font-size: 200%;
}

.navigation__item--right {
    margin-left:auto;
}

.navigation__item--left {
    margin-right:auto;
}

.bee {
    mix-blend-mode: multiply; 
    position: absolute;
}

/*RESTRUCTURE THIS LATER, NAMES ARE NOT SUPER MODULAR*/
.title {
    background-color: white;
    background-color: rgb(246, 231, 188);
    /*background-color: rgb(18, 21, 48);*/
    background-image: linear-gradient(rgb(246, 231, 188), white);
    background-image: linear-gradient(rgb(18, 21, 48), rgb(44, 47, 93));
    background-image: linear-gradient(white);
    background-image: linear-gradient(rgb(41, 44, 82));
    background-image: linear-gradient(rgb(255, 228, 155));

    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__center-content {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 20px;
}

.title__header {
    flex: 1 1 0px;
    max-width: 350px;
    color:rgb(45, 33, 3);
    /*color: rgb(246, 231, 188); NIGHT MODE*/
}

.title__subheader {
    font-family: 'Prociono Regular';
    font-weight: 400;
    font-size: 1em;
    color: rgb(161, 99, 0);
}

.title__about {
    font-size: 12px;
    margin-top: 7px;
}

.title__image {
    flex: 0 1 0px;
    /*color: rgb(248, 239, 214);*/
    width: 200px;
}

.title__caption {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.2;
    font-style: italic;
    text-align: center;
}

.content-section {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(82, 82, 82);

    padding:10px;
}

.content-section--white {

}

.content-section__title {
    font-size: larger;
    font-family: 'Bagnard';
}

/*THIS IS ILLEGAL BEM, RE-DO LATER*/
.content-section__horizontal-list {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2%;
    width: 95%;
    max-width: 1000px;
}

.content-section__horizontal-list--white {
    img {
        border-color: white;
        border-color: rgb(248, 213, 219);
        &:hover {
            border-color: gray;
            border-color: rgb(171, 126, 134);
        }
    }
}

.preview-block {
    margin: 0px;
    padding: 0px;
    text-align: center;
    transition: .2s;
    filter: opacity(1);
    background-color: rgba(255, 255, 255, .6);

    border-style: solid;
    border-color: rgba(255, 255, 255, 0);

    display: flex;
    padding: 5px;
    gap: 10px;
    width: 100vw;
    
    &:hover {
        background-color: white;
        cursor: pointer;
        filter: opacity(1);
    }
}

.preview-block__img {
    background-color: white;
    height: 80px;
}

.preview-block__text {
    margin: 0px;
    font-size: 13px;
    width: 50%;
    align-self: center;
    font-size: 14px;
    font-family: 'Prociono Regular';
}

.paper-background {
    background-color: rgb(255, 245, 211);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    /*rgb(250, 242, 215)*/
    /*if proportional sidebars, px designed for half-screen which was 600px*/
    background-image: linear-gradient(90deg, transparent 60px, rgba(255, 135, 88, .5) 60px 62px, transparent 64px 66px, rgba(255, 135, 88, .5) 66px 67px, transparent 69px),
    linear-gradient(270deg, transparent 66px, rgba(211, 205, 175, .4) 66px 67px, transparent 67px),
    linear-gradient( white 0px 50px, transparent 50px),
    repeating-linear-gradient(rgba(211, 205, 175, .4) -10px, transparent -9px 14px);
}

.paper-background--reverse {
    /*if proportional sidebars, px designed for half-screen which was 600px*/
    background-image: linear-gradient(270deg, transparent 60px, rgba(255, 135, 88, .5) 60px 62px, transparent 64px 66px, rgba(255, 135, 88, .5) 66px 67px, transparent 69px),
    linear-gradient(90deg, transparent 66px, rgba(211, 205, 175, .4) 66px 67px, transparent 67px),
    linear-gradient(rgb(255, 255, 255) 0px 50px, transparent 50px),
    repeating-linear-gradient(rgba(211, 205, 175, .4) -10px, transparent -9px 14px);

    border-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.footer {
    background-color: rgb(92, 92, 92);
    filter: drop-shadow(0px 0px 1px rgb(82, 82, 82));
    padding: 20px;
    text-align: center;
    color: rgb(220, 220, 220);
    font-size: 13px;
}